@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #fbd394;
  color: #422308;
  font-size: 20px;
  font-weight: 700;
}

.navbar img {
  margin-left: 10%;
  margin-right: 5%;
  width: 200px;
  height: 125px;
}

.nav-item {
  margin: 15px;
}

.carousel-text {
  position: absolute;
  top: 30px;
  left: 45px;
  padding: 20px;
  max-width: 500px;
  color: #fbd394;
  font-size: 30px;
  letter-spacing: 2px;
}
.carousel-text h5 {
  margin-bottom: 30px;
  color: white;
  font-size: 48px;
  letter-spacing: 3px;
}

.carousel-item img {
  object-fit: cover;
  height: 500px;
}

.col .card {
  align-items: center;
  font-size: 25px;
  background-color: #d09e55;
  color: #422308;
  border: 5px solid #fbd394;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
}

.btn-order {
  padding: 5px;
  margin: 10px;
  margin-bottom: 15px;
  background-color: #422308;
  color: white;
  font-size: 16px;
  border: none;
}

.btn-order:hover {
  background-color: #6d390c;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#coupons {
  background-color: #d09e55;
  border: 5px solid #fbd394;
  color: #422308;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.footer-style {
  height: 450px;
  background-color: #fbd394;
  padding: 30px 0;
}

#input-subscribe {
  margin-left: 70px;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #422308;
  padding: 10px;
}

#icons-socials {
  color: #422308;
  font-size: 1.5rem;
}

#icons-socials:hover {
  color: #6d390c;
}

.follow {
  color: #422308;
}
